.containerCardSegnalazioni {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .cardSegnalazioni {
    border: 2px solid black;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    margin: 2px;
  }
  
  .sectionSegnalazioni {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sectionSegnalazioniDescription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .cardSegnalazioni {
      width: 45%;
      margin: 5px;
    }
  }
  